@inherits LayoutComponentBase
<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        @* <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@

        <article class="content px-2">
            @Body
        </article>
    </main>
    <footer class="footer border-top py-2">
        <div class="container text-center text-muted small">
        Whisky Tools v1.0.0 · Optimised for the over 50s
    </div>

    </footer>


</div>
