<h4>Cooking Target Temperatures</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Meat</th>
            <th>Target Internal Temp</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Beef (medium rare)</td>
            <td>57 °C (135 °F)</td>
        </tr>
        <tr>
            <td>Beef (medium)</td>
            <td>63 °C (145 °F)</td>
        </tr>
        <tr>
            <td>Beef (slow cooked)</td>
            <td>90 °C (195 °F)</td>
        </tr>
        <tr>
            <td>Lamb (medium rare)</td>
            <td>57 °C (135 °F)</td>
        </tr>
        <tr>
            <td>Lamb (medium)</td>
            <td>63 °C (145 °F)</td>
        </tr>
        <tr>
            <td>Lamb (slow cooked)</td>
            <td>85 °C (185 °F)</td>
        </tr>
        <tr>
            <td>Pork (chops, roasts)</td>
            <td>71 °C (160 °F)</td>
        </tr>
        <tr>
            <td>Pork (slow cooked)</td>
            <td>90 °C (195 °F)</td>
        </tr>
        <tr>
            <td>Chicken (whole or breast)</td>
            <td>75 °C (165 °F)</td>
        </tr>
        <tr>
            <td>Turkey</td>
            <td>74 °C (165 °F)</td>
        </tr>
        <tr>
            <td>Fish</td>
            <td>63 °C (145 °F)</td>
        </tr>
    </tbody>
</table>
