@using WhiskyTools.Components
@page "/"

<PageTitle>Whisky Tools</PageTitle>

<h3>Whisky Tools</h3>
<div><small class="text-muted">Optimised for the over 50s</small></div>

<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="whisky-tab"
           data-bs-toggle="tab" href="#whisky-pane" role="tab"
           aria-controls="whisky-pane" aria-selected="true">
           Dilution
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="temp-tab"
           data-bs-toggle="tab" href="#temp-pane" role="tab"
           aria-controls="temp-pane" aria-selected="false">
           Temp Convert
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="target-tab"
           data-bs-toggle="tab" href="#target-pane" role="tab"
           aria-controls="target-pane" aria-selected="false">
           Meat Temps
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="card tab-pane fade show active" id="whisky-pane" role="tabpanel" aria-labelledby="whisky-tab">
        <WhiskyCalc />
    </div>
    <div class="card tab-pane fade" id="temp-pane" role="tabpanel" aria-labelledby="temp-tab">
        <TempConvert />
    </div>
    <div class="card tab-pane fade" id="target-pane" role="tabpanel" aria-labelledby="target-tab">
        <CookingTemps />
    </div>
</div>



@code {
    string activeTab = "whisky";

    protected override void OnInitialized()
    {
       
    }

    string GetTabClass(string tab) => activeTab == tab ? "active-tab" : "";
}
